@import "scss/mixins.scss";

.taskPanelWindowsModal {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 700px;
    top: -720px;
    left: -10px;
    background: grey;

    .windowsModalMain {
        height: 92%;
        width: 100%;
        background: red;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .windowsModalFooter {
        height: 8%;
        width: calc(100% - 140px);
        background: #e9e9e9;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 70px;

        .footerUser {
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            border-radius: 5px;

            &:hover {
                background: var(--TASK_PANEL_ELEMENT_FOCUS);
            }

            .userIconWrapper {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                @include flex-center;
                background: #d3d3d3;

                .userIcon {
                    height: 18px;
                    width: 18px;

                    > path {
                        fill: #535353;
                    }
                }
            }

            .userName {
                font-size: 12px;
                margin-left: 15px;
            }
        }

        .footerPower {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            @include flex-center;
            position: relative;

            &:hover {
                background: var(--TASK_PANEL_ELEMENT_FOCUS);
            }

            .powerIcon {
                width: 20px;
                height: 20px;

                > path {
                    fill: #535353;
                }
            }

            &.powerModalOpen:hover {
                background: #e9e9e9;
            }
        }
    }
}

.taskPanelModal {
    box-shadow: 5px 5px 12px -6px gray;
    border: solid 1px #e3e3e3;
    border-radius: 10px;
    position: absolute;
    background: #e9e9e9;
}
