.container {
    position: relative;
    width: 100%;
    height: auto;
}

.highlightContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    color: transparent;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.highlight {
    background-color: lightgray;
}

.editableDiv {
    position: relative;
    z-index: 2;
    background-color: transparent;
    outline: none;
    min-height: 150px;
    padding: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid black;
}
