.taskPanel{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d3d3d3;
    position: relative;
}

.taskPanelAppUnit{
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.taskPanelAppUnit:active .taskPanelAppIcon{
    transition: width 0.08s, height 0.08s;
    width: 25px;
    height: 25px;
}

.isAppOpen{
    position: absolute;
    bottom: -1px;
    background: #6b6b6b;
    height: 3px;
    width: 6px;
    border-radius: 3px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.appInFocus{
    width: 16px;
    background: #1c88e7;
}

.taskPanelAppUnit:hover{
    background: #f7f5f5;
}

.appIsActive{
    background: #f7f5f5;
}

.taskPanelAppWrapper{
    display: flex;
    padding: 0px 20px;
    width: fit-content;
    block-size: fit-content;
}

.taskPanel .taskPanelAppTooltip{
    background-color: #f3f3f3;
    color: black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.taskPanelAppIcon{
    width: 30px;
    height: 30px;
}

.taskPanelAppTooltip .tooltipArrow{
    display: none;
}

.taskPanelSidebar{
    position: absolute;
    right: 0;
    background: red;
    height: 40px;
    display: flex;
    align-items: center;
}