body{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

:root{
  --context-menu-background-color: red;
}

.window{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body .llpopup{
  display: none!important;
}